NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_APP_NAME=

# MongoDB
MONGODB_URI=

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Redis (Upstash)
REDIS_URL=

# Email (Resend)
RESEND_API_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Cron Jobs
CRON_SECRET=
